<h1>Login</h1>

<% if !flash.now[:error].nil? %>
  <%= flash.now[:error] %>
<% end %>

<%= form_for(:session_data, url: sessions_path) do |f| %>
  <div class="form-group">
    <%= f.label :username %>
    <%= f.text_field :username, class: "form-control" %>
    <%= f.label :password %>
    <%= f.password_field :password, class: "form-control" %>
    <%= f.submit "Log In", class: "btn btn-info" %>
  </div>
<% end %>
