<div class="container">
    <%= render 'layouts/navbar' %>

    <% if !flash.now[:error].nil? %>
      <%= flash.now[:error] %>
    <% end %>

    <div class="row">
      <div class="col-md-12">
        <h1>Login to Seabay</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <%= form_for(:session_data, url: sessions_path) do |f| %>
          <div class="form-group">
            <%= f.label :username %>
            <%= f.text_field :username, class: "form-control" %>
            <%= f.label :password %>
            <%= f.password_field :password, class: "form-control" %>
            <br>
            <%= f.submit "Log In", class: "btn btn-info" %>
          </div>
        <% end %>
      </div>
    </div>
</div>
