  <%= form_for [@current_merchant, @product], html: { multipart: true }, url: { action: @action}, method: @method, :html => { :class => "form"} do |f| %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, :required => true, class:"form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :price %>
      <div class="input-group">
       <div class="input-group-addon">$</div>
       <%= f.number_field :price, in: 0.01..1000000000, step: 0.01, :required => true, class:"form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_field :description, class: "form-control" %>
    </div>
    <div>
      For length, width, and height, use centimeters.  For weight, use grams.
    </div>
    <div class="form-group">
      <%= f.label :weight %>
      <%= f.number_field :weight, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :height %>
      <%= f.number_field :height, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :length %>
      <%= f.number_field :length, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :width %>
      <%= f.number_field :width, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :category %>
      <div class="form-control">
          <%= f.collection_check_boxes :category_ids, Category.all, :id, :name %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :quantity %>
      <%= f.number_field :quantity, in: 1...100000, step: 1, :required => true, class:"form-control" %>
    </div>
    <%= f.label :image %>
    <%= f.file_field :image %>
    <br>
    <%= f.submit value:"Save", class:"btn btn-default" %>
  <% end %>
