<div class="container">
<h2>Select Shipping Method</h2>
  <%= form_for @order, :url => order_confirm_path(@order) , class: "form-inline" do |f| %>
    <% @all_rates.each do |item, rates| %>
          <%= f.fields_for :order_items, item do |shipping_type| %>
            <% rates.each do |r| %> 
            <div class="form-group radio">
              <%= shipping_type.radio_button :shipping_type, r[0] %><%= r[0] %>: <%= r[1] %><br>
              <%= shipping_type.hidden_field :shipping_cost, r[1] %>
            </div>
            <% end %><br>
          <% end %>
      <% end %><br \>
    <%= submit_tag "Place Order", class: "btn btn-primary" %>

    <% end %>
</div>