<div class="container">
<h2>Select Shipping Method</h2>
    <%= form_for @order, :url => order_confirm_path(@order) , class: "form-inline" do |f| %>
    <% @rates.uniq.each do |rate| %>
        <div class="form-group radio">
          <%= f.radio_button :shipping_type, rate %><br \><%= rate %>
          <%= hidden_field_tag :shipping_cost, rate[1] %>
        </div>
      <% end %><br \>
  
  <%= submit_tag "Place Order", class: "btn btn-primary" %>

  <% end %>
</div>