<div class="container">
  <%= render 'layouts/navbar' %>
  <div class="row">
    <div class="col-lg-12">
      <h1>Order <%= @order.id %></h1>
      <h4>Order details: </h4>
      <h5>Order Status: <%= @order.status %></h5>
      <p>Placed On: <%= @order.purchase_time.strftime("%b %-d, %Y at %I:%M%p") %></p>
      <p>Updates will be sent to: <%= @order.email %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <h5>Shipping Address:</h5>
      <p><%= @order.name %></p>
      <p><%= @order.street %></p>
      <p><%= @order.city %>, <%= @order.state %> <%= @order.zip %></p>
    </div>
    <div class="col-lg-6">
      <h5>Billing Information:</h5>
      <p>Credit Card Number: <%= @order.cc_num[-4..-1] %></p>
      <p>Expiration Date: <%= @order.cc_exp %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <table class="table table-hover">
      <th>Product</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Subtotal</th>
      <% @order_items.each do |orderitem| %>
      <% product = Product.find(orderitem.product_id) %>
        <tr>
          <td><%= link_to product.name, product_path(product.id) %></td>
          <td><%= orderitem.quantity %></td>
          <td><%= number_to_currency(product.price) %></td>
          <td><%= number_to_currency(product.price * orderitem.quantity) %></td>
        </tr>
      <% end %>
      <tr>
        <td></td>
        <td></td>
        <td>Order Total:</td>
        <td><%= number_to_currency(@order_total) %></td>
      </tr>
      </table>
    </div>
  </div>
</div>
