<div class="row">
  <div class="col-lg-12">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">SEABAY</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Cart</a></li>
            <li><%= link_to "Log Out", logout_path, method: :delete %></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  </div>
</div>

<div class="jumbotron">
  <div class="container">
    <h4>Seabay is your #1 stop shop for all things related to the sea!</h4>
  </div>
</div>
<h4>Welcome, <%= @current_merchant.username %></h4>

<%= link_to "View Your Products", merchant_products_path(@current_merchant.id) %>
<br>
<%= link_to "View Your Orders", merchant_orders_path(@current_merchant.id) %>
<br>
<%= link_to "Log Out", logout_path, method: :delete %>
