<h1>Create New Merchant Account</h1>

<% if !flash[:error].nil? %>
  <%= flash["error"] %>
<% end %>

<ul>
  <% @merchant.errors.each do |column, message| %>
    <li><strong><%= column.capitalize %></strong>: <%= message %></li>
  <% end %>
</ul>

<%= form_for @merchant do |f| %>
  <%= f.label :username %>
  <%= f.text_field :username %>
  <%= f.label :email %>
  <%= f.email_field :email %>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>
  <%= f.submit %>
<% end %>
