<div class="container">
  <%= render 'layouts/navbar' %>
  <div class="row">
    <div class="col-md-12">
      <h1>Browse <%= @merchant.username %>'s Products</h1>
    </div>
  </div>

  <div class="row">
    <% if @products.length == 0 %>
      <div class="col-md-12">
        <h3>We're sorry, <%= @merchant.username %> does not have anything for sale right now.</h3>
      </div>
    <% else %>
      <% @products.each_with_index do |product, i| %>
        <% if i.odd? %>
          <div class="row">
        <% end %>
        <div class="col-sm-6 col-md-6">
          <div class="thumbnail">
            <img src="<%= product.photo_url %>" alt="<% product.name %>">
            <div class="caption">
              <%= link_to product.name, product_path(product.id), class: "h3" %>
            </div>
          </div>
        </div>
        <% if i.odd? %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
