<div class="container">
  <%= render 'layouts/navbar' %>
  <h1><%= @title %></h1>
    <%= form_for @category, html: { multipart: true }, url: {action: @action} do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name, :required => true %>
    <br>
    <%= f.label :image %>
    <%= f.file_field :image %>
    <br>
    <%= f.submit "Save" %>
    <% end %>
</div>
