<div class="jumbotron-category" style='background:
    linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.2),
    rgba(0, 0, 0, 0.3)
  ),
  url(<%= @category.jumbotron_photo_url %>) no-repeat center center;
background-position:
<% if @category.name == "Seashells" %>
  50% 80%;'>
<% elsif @category.name == "Clothing" %>
  50% 61%;'>
<% else %>
  50% 20%;'>
<% end %>
  <h2><%= @category.name.upcase %></h2>
</div>
<div class="container container-home-page">
  <%= render 'layouts/navbar' %>
  <% @category.products.each_with_index do |product, i| %>
    <% if i.odd? %>
      <div class="row">
    <% end %>
    <div class="col-sm-6 col-md-6">
      <div class="thumbnail">
        <img src="<%= product.photo_url %>" alt="<% product.name %>">
        <div class="caption">
          <%= link_to product.name, product_path(product.id), class: "h3" %>
        </div>
      </div>
    </div>
    <% if i.odd? %>
      </div>
    <% end %>
  <% end %>
  <% if @category.products.count == 0 %>
    <h3> We're sorry, there are currently no products in the <%= @category.name %> category.</h3>
  <% end %>
</div>
