<div class="container">
  <%= render 'layouts/navbar' %>
  <h1>Category: <%= @category.name %></h1>

  <% @category.products.each_with_index do |product, i| %>
    <% if i.odd? %>
      <div class="row">
    <% end %>
    <div class="col-sm-6 col-md-6">
      <div class="thumbnail">
        <img src="<%= product.photo_url %>" alt="<% product.name %>">
        <div class="caption">
          <%= link_to product.name, product_path(product.id), class: "h3" %>
        </div>
      </div>
    </div>
    <% if i.odd? %>
      </div>
    <% end %>
  <% end %>
  <% if @category.products.count == 0 %>
    <h3> We're sorry, there are currently no products in the <%= @category.name %> category.</h3>
  <% end %>
</div>
