<% if !flash[:error].nil? %>
  <div class= "alert alert-danger" role="alert"><%= flash[:error] %></div>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <%= image_tag(@product.image.url(:medium)) %>
    </div>
    <div class="col-md-8">
      <h1><%= @product.name %></h1>
      <h2><%= @product.merchant.username %></h2>

      <h4>$<%= @product.price/100.0 %></h4>

      <%= link_to "+", add_quantity_path(@product.id), :class => "btn btn-primary btn-sm", :method => :post %>

      Available: <%= @product.quantity %>

      <%= link_to "-", remove_quantity_path(@product.id), :class => "btn btn-primary btn-sm", :method => :post %>

    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Description:</h2>
      <p><%= @product.description %></p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">

      <h2>Reviews:</h2>
        <% @reviews.each do |review| %>
          <div>
            <%= review.rating %>: <%= review.description %>
          </div>
        <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <% if @can_review %>
        <%= render partial: "shared/formforreviews" %>
      <% end %>
    </div>
  </div>
</div>
