<div class="container">
  <%= render 'layouts/navbar' %>

  <% if !flash[:error].nil? %>
    <div class= "alert alert-danger" role="alert"><%= flash[:error] %></div>
  <% end %>

  <div class="row">
    <div class="col-md-4">
      <% if @product.image_file_name.nil? %>
        <%= image_tag(@product.photo_url) %>
      <% else %>
      <%= image_tag(@product.image.url(:medium))%>
      <% end %>
    </div>
    <div class="col-md-8">
      <% if @product.status == "Active" && @product.quantity != 0 %>
        <h1><%= @product.name %></h1>
        <h4>Sold by: <%= @product.merchant.username %></h4>
        <br>
        <h4>Price: <%= number_to_currency(@product.price) %></h4>
        <%= link_to "Add to Cart", add_quantity_path(@product.id), :class => "btn btn-success btn-sm", :method => :post %>
        <p>Remaining Stock: <%= @product.quantity %></p>
        <!-- <%= link_to "-", remove_quantity_path(@product.id), :class => "btn btn-primary btn-sm", :method => :post %> -->
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h3>Description:</h3>
      <p><%= @product.description %></p>
      <% if @product.description.length == 0 %>
      <p>For just <%= number_to_currency(@product.price) %>, this ocean-related item can soon be yours!</p>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">

      <h3>Reviews:</h3>
        <% @reviews.each do |review| %>
          <div>
            <%= review.rating %>: <%= review.description %>
          </div>
        <% end %>
        <% if @reviews.count == 0 %>
          <p> There are currently no reviews for this product.</p>
        <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <% if @can_review %>
        <%= render partial: "shared/formforreviews" %>
      <% end %>
    </div>
  </div>
</div>
